*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.logo{
    width: 50px;
    height: 50px;
}

header{
    width: 100%;
    height: 50px;
    background-color: rgb(126, 124, 124);
    display:flex;
    align-items: center;
    justify-content:left;
    padding: 0 50px;
}

.bars{
    display: none;
}

.nav_bar ul{
    display: flex;
}

.nav_bar ul li a{
    display: block;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav_bar ul li a:hover{
    color:#212127;
    background-color:rgb(158, 255, 163);
}

@media(max-width:700px){
    header{
        padding: 0px 30px;
    }

    .bars{
        display: block;
        cursor: pointer;
    }

    .bars .line{
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        margin: 6px 0px;
    }

    .nav_bar{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #2e2f34;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav_bar.active{
        height: 450px;
    }

    .nav_bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.2s;
        opacity: 0;
    }

    .nav_bar.active ul{
        opacity: 1;
    }

    .nav_bar ul li a{
        margin-bottom: 20px;
    }
}